<!-- エラーメッセージ -->
<% if @new_book.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @new_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container user-show">
  <div class="row">

    <%= render "shared/left", user: @user, new_book: @new_book %>

    <!-- 右：Books一覧 -->
    <div class="col-md-8 offset-md-1 user-right">
      <h1>Books</h1>

      <table class="users-table">
        <thead>
          <tr>
            <th class="book-image"></th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td class="pe-4">
                <%= link_to user_path(book.user), class: "user-card-link" do %>
                  <div class="avatar-box">
                    <% if book.user.profile_image.attached? %>
                      <%= image_tag book.user.profile_image, width: 80, height: 80, alt: "" %>
                    <% else %>
                      <div class="no-image">NO IMAGE</div>
                    <% end %>
                  </div>
                <% end %>
              </td>

              <td><%= link_to book.title, book_path(book) %></td>
              <td><%= book.body %></td>
<td class="favorite-cell">
  <div class="book-actions">
    <% liked = book.favorites.exists?(user_id: Current.session.user.id) %>

    <%= button_to book_favorite_path(book),
        method: liked ? :delete : :post,
        class: "favorite-btn #{liked ? 'is-liked' : 'is-unliked'}",
        form_class: "favorite-form" do %>

      <% if liked %>
        <i class="bi bi-heart-fill favorite-liked"></i>
      <% else %>
        <i class="bi bi-heart favorite-icon"></i>
      <% end %>

      <span class="favorite-count"><%= book.favorites.count %></span>
    <% end %>

    <span class="comment-count">コメント数：<%= book.comments.size %></span>
  </div>
</td>

            </tr>
          <% end %>


        </tbody>
      </table>
    </div>

  </div>
</div>