<div class="container user-show">
  <div class="row">

    <%= render "shared/left", user: @user, new_book: @new_book %>

    <!-- 右：Book detail -->
    <div class="col-md-8 offset-md-1 user-right">
      <h1>Book detail</h1>

      <table class="users-table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user), class: "user-card-link" do %>
                <div class="avatar-box">
                  <% if @book.user.profile_image.attached? %>
                    <%= image_tag @book.user.profile_image, width: 80, height: 80, alt: "" %>
                  <% else %>
                    <div class="no-image">NO IMAGE</div>
                  <% end %>
                </div>
                <div class="user-name">
                  <%= @book.user.name %>
                </div>
              <% end %>
            </td>

            <td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>

            <td colspan="3">
              <div class="book-detail-header">
                <div class="book-detail-actions">
                  <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %>
                  <%= link_to "Destroy", book_path(@book),
                  class: "btn btn-sm btn-danger",
                  data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
                </div>
              </div>
            </td>

            <hr class="book-detail-sep">
          </tr>
        </tbody>
      </table>
      <% if @comments.any? %>
        <% @comments.each do |comment| %>
          <div class="comment-item">
            <div class="comment-meta">
              <span class="comment-user"><%= comment.user.name %></span>
              <span class="comment-time"><%= l(comment.created_at, format: :short) %></span>
            </div>
            <div class="comment-body-inline">
              <%= comment.body %>
            </div>
            <% if comment.user == current_user %>
              <%= link_to "Destroy", book_comment_path(@book, comment),
                  class: "btn btn-sm btn-danger",
                  data: { turbo_method: :delete, turbo_confirm: "このコメントを削除しますか？" } %>
            <% end %>
          </div>

        <% end %>
        <% else %>
          <p>まだコメントはありません。</p>
        <% end %>

        <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
        <% end %>

        <td>
          <%= form_with model: [@book, Comment.new], local: true do |f| %>
          <%= f.text_area :body %> <%= f.submit "Create Comment", class: "btn btn-success align-self-start" %> <% end %>
        </td>

      </div>
  </div>
</div>