<h1>Forgot your password?</h1>

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>

<%= form_with url: passwords_path do |form| %>
  <%= form.label :email_address, "Email" %><br>
  <%= form.email_field :email_address,
        required: true,
        autofocus: true,
        autocomplete: "username",
        value: params[:email_address] %><br>

  <%= form.submit "Send me reset password instructions" %>
<% end %>

<p class="mt-2">
  <%= link_to "Log in", new_session_path %>
</p>
<%= link_to "Sign up", "/users/sign_up" %>